@inherits Game_Component


<style>
    .chest
    {
        display: grid;
        grid-template-rows: 35px 35px;
        grid-template-columns: repeat(8, 35px);
    }

    .chest_cell
    {
        display: inline-block;
    }
</style>



<div class="chest">

    @for (int i = 0; i < 16; i++)
    {
        string pic_filename = null;
        if (i < this.val)
        {
            pic_filename = this.picture_filename;
        }
        <div class="chest_cell">
            <Butticon picture_filename=@pic_filename/>
        </div>
    }
</div>



@code {

    [Parameter] public int val { get; set; }
    [Parameter] public string picture_filename { get; set; }




}
