@inherits Game_Component
@using Blazora.Pages 


@code {

}


<div style="
    position: absolute;
    top: 0px;
    right: 50px;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    ">

    Graph update: @(Game_Page.self.stat_average) ms


</div>

@code {

    public override void listener_setup ()
    {
        base.listener_setup ();
        listener_add (() => Game_Page.self.stat_average);
    }

}
