@page "/factorio"
@page "/"

@implements IDisposable
@inherits Game_Page


@using Blazora.Components

@using NS_Manager_Resource
@using NS_Game_Engine
@using NS_Blazora_Basic
@using Blazora.Scripts

@code{
        ObservableProperty<string> test = new ObservableProperty<string> ("#00FF00");

}

@{ 
    
}

<button @onclick=@(() => { test.Set (test.Get () + 1); }) />

<div class="noselect">

<h3>Factorio</h3>

    <span>test : @(test.Get ())</span>


@code{

    public async Task setup ()
    {
        if (Game_Setup.initialized == false)
        {
            await Game_Setup.setup ();
            Game_Setup.initialized = true;
        }
    }


    protected override async Task OnInitializedAsync ()
    {
        await base.OnInitializedAsync ();
        test.changed += (v) => { Console.WriteLine (v); };
        await setup ();
    }


}



@{ 



}




    @foreach (Generator generator in Game_Engine.self.manager_generator.Values)
    {
        <CascadingValue Value=generator.recipe IsFixed="true">
            <BGenerator /> 
        </CascadingValue>

        <div><br /></div>
    }


</div>

