@page "/factorio" 

@implements IDisposable
@inherits Game_Page


@using Blazora.Components

@using NS_Manager_Resource
@using NS_Game_Engine


@code{
    
}


<h3>Factorio</h3>


<Mine resource_name="coal" hand_recipe_text="coal*1 + time*50 => coal*2" />


<div>
    Factorio Coal: @MR("coal").quantity
</div>

<Mine resource_name="coal" hand_recipe_text="coal*1 + time*50 => coal*2" />


<Mine resource_name="coal" hand_recipe_text="coal*1 + time*50 => coal*2" />


<Mine resource_name="coal" hand_recipe_text="coal*1 + time*50 => coal*2" />


<Mine resource_name="coal" hand_recipe_text="coal*1 + time*50 => coal*2" />


<Mine resource_name="coal" hand_recipe_text="coal*1 + time*50 => coal*2" />


<Mine resource_name="coal" hand_recipe_text="coal*1 + time*50 => coal*2" />


<Mine resource_name="coal" hand_recipe_text="coal*1 + time*50 => coal*2" />


@code{
    public static Resource_Stack MR(string resource_name)
    {
        return Game_Engine.self.manager_resource.from_resource_name_get_resource_stack (resource_name);
    }

}