@page "/factorio2" 

@implements IDisposable
@inherits Game_Page


@using Blazora.Components

@using NS_Manager_Resource
@using NS_Game_Engine


@code{
    
}

<style>
    .noselect *::selection
    {
        color: none;
        background: none;
    }

    .noselect *::-moz-selection
    {
        color: none;
        background: none;
    }

</style>


<div class="noselect">

<h3>Factorio 2</h3>

    



@{ 
    //list_component (list_pack)	time	iteration	list_result (list_pack)	list_tool_kind (list_item)

    Resource_Mix mix_component = Resource_Mix.from_resource_mix_text_get_resource_mix ("iron_ore * 1 + coal_ore * 1");

    int time = 2 * 60;

    Resource_Mix mix_result = Resource_Mix.from_resource_mix_text_get_resource_mix ("iron_plate * 1");

    List<Resource> list_tool_kind = new List<Resource> ()
    {
        Resource.from_resource_name_get_resource("furnace_stone")
    };

    Recipe2 recipe = new Recipe2 ();
    recipe.mix_component = mix_component;
    recipe.time = time;
    recipe.mix_result = mix_result;
    recipe.list_tool_kind = list_tool_kind;

}


@{ 

    if (Game_Engine.self.manager_generator.ContainsKey (recipe.get_text ()) == false)
    {
        Game_Engine.self.manager_resource.from_resource_name_and_resource_quantity_add_resource ("iron_ore", 199);
        Game_Engine.self.manager_resource.from_resource_name_and_resource_quantity_add_resource ("coal_ore", 50);

        Manager_Resource mr = new Manager_Resource ();
        mr.from_resource_name_add_resource ("coal_ore");
        mr.from_resource_name_add_resource ("iron_ore");

        NS_Manager_Resource.Generator generator = new NS_Manager_Resource.Generator ();
        generator.recipe = recipe;
        generator.manager_resource = mr;

        Game_Engine.self.manager_generator.Add (recipe.get_text (), generator);
    }
}


<BGenerator recipe=recipe /> 
          

</div>

@code{


}