@page "/factorio"
@page "/"

@implements IDisposable
@inherits Game_Page


@using Blazora.Components

@using NS_Manager_Resource
@using NS_Game_Engine
@using NS_Blazora_Basic
@using Blazora.Scripts

@code{

}

@{ 

}

<FPS_Counter />


<div class="noselect">

<h3>Factorio</h3>



@code{

    public async Task setup ()
    {
        if (Game_Setup.initialized == false)
        {
            await Game_Setup.setup ();
            Game_Setup.initialized = true;
        }
    }


    protected override async Task OnInitializedAsync ()
    {
        await base.OnInitializedAsync ();
        await setup ();
    }



}



@{ 



}




    @foreach (Generator generator in Game_Engine.self.manager_generator.Values)
    {
        <CascadingValue Value=generator.recipe IsFixed="true">
            <BGenerator /> 
        </CascadingValue>

        <div><br /></div>
    }


</div>



@code{

    public override void Dispose ()
    {
        base.Dispose ();
        foreach (ObservableProperty<int> observable in Resource.dico_resource_name_plus_stack_resource_quantity_max.Values)
        {
            observable.changed = null;
        }

        Game_Engine.self.manager_resource.observable_clear ();
    }

}