@page "/factorio2" 

@implements IDisposable
@inherits Game_Page


@using Blazora.Components

@using NS_Manager_Resource
@using NS_Game_Engine


@code{
    
}

<style>
    .noselect *::selection
    {
        color: none;
        background: none;
    }

    .noselect *::-moz-selection
    {
        color: none;
        background: none;
    }

</style>


<div class="noselect">

<h3>Factorio 2</h3>


<Generator /> 
          

</div>

@code{


}