@page "/factorio"
@page "/"

@implements IDisposable
@inherits Game_Page


@using Blazora.Components

@using NS_Manager_Resource
@using NS_Game_Engine


@code{

}




<div class="noselect">

<h3>Factorio</h3>


@code{




}



@{ 

    Game_Setup.setup ();


}



    @foreach (Generator generator in Game_Engine.self.manager_generator.Values)
    {
        <CascadingValue Value=generator.recipe>
            <BGenerator /> 
        </CascadingValue>

        <div><br /></div>
    }


</div>

