@page "/test"
@using System.Threading;
@using Blazora.Components
@using Blazora.Scripts 

 

@code{
    public int quantity = 0;
}

@{ Console.WriteLine ("Blazor : Page Test");}


<h1>Test</h1>

<button @onclick="increment">More</button>


<Component_Test resource_quantity=@quantity />

<Component_Test2 />


<br />
<br />





@functions 
{



    private void increment()
    {
        this.quantity += 1;
    }




}