@page "/guerre"

@implements IDisposable
@inherits Game_Page



<div id="game">


    <h1>Guerre</h1>

    <p>Nombre d'elfes : @elf_count elfes</p>
    <p>Pièces d'or : @or_count or</p>
    <p>Prix d'un elfe : @elf_price or</p>


    <p>
        <button class="btn btn-primary" @onclick="or_miner" disabled="@(!or_miner_autoriser())">Miner de l'or</button>
    </p>

    <p>
        <button class="btn btn-primary" @onclick="elf_recruter" disabled="@(!elf_recruter_autoriser())">Recruter Elfe</button>
    </p>

    @if (Guerre.elf_count >= 10)
    {
        <p>
            <button class="btn btn-primary" @onclick="win" disabled="@victory">Tuer le Seigneur des Démons</button>
        </p>
    }

    @if (victory == true)
    {
        <p>
            <span>Tu as gagné !</span>
        </p>
    }


</div>

@code {



    private static int or_count = 0;
    private static int elf_price = 10;
    private static bool victory = false;


    public override void logical_update ()
    {
        base.logical_update ();
        CountDownTimer ();
    }


    public void CountDownTimer ()
    {
        or_count += 1;

    }


    private void elf_recruter ()
    {
        elf_count += 1;
        or_count -= elf_price;
        elf_price += 1;
    }


    private void or_miner ()
    {
        or_count += 10;

    }


    private void win ()
    {
        victory = true;
    }




    private bool elf_recruter_autoriser ()
    {
        if (victory == true)
        {
            return false;
        }

        if (or_count < elf_price)
        {
            return false;
        }

        return true;
    }


    private bool or_miner_autoriser ()
    {
        if (victory == true)
        {
            return false;
        }

        return true;
    }



}
